### Handeling Imbalanced Datasets
#### 1. UP Sampling
#### 2. DOWN Sampling

In [7]:
import pandas as pd
import numpy as np

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [8]:
n_class_0, n_class_1

(900, 100)

In [23]:
# CREATING MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0,scale=1, size= n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0,scale=1, size= n_class_1),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_1),
    'target': [1]*n_class_1
})

In [25]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [24]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [26]:
df.tail()

     feature_1  feature_2  target
995   0.677156  -0.907952       1
996   0.963404  -1.818045       1
997  -0.378524  -0.122733       1
998   1.429559   1.794486       1
999   1.532273  -0.320510       1

In [27]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [28]:
# UPSampling
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [35]:
from sklearn.utils import resample
df_minority_sampled = resample(df_minority,replace=True,  #Sample with replacement
         n_samples= len(df_majority),
         random_state= 42         
         )

In [36]:
df_minority_sampled.shape

(900, 3)

In [37]:
df_minority_sampled.head()

     feature_1  feature_2  target
951   0.905343  -0.504849       1
992   0.000977  -0.185167       1
914  -0.072043   0.280911       1
971   0.819483   0.964646       1
960   0.456515  -0.166472       1

In [39]:
df_sampled = pd.concat([df_majority, df_minority_sampled])

In [40]:
df_sampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

### Down Sampling

In [41]:
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

# Check the class distribution
print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [42]:
## downsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [58]:
from sklearn.utils import resample
df_majority_upsampled=resample(df_majority,replace=False, #Sample With replacement
         n_samples=len(df_minority),
         random_state=42
        )

In [59]:
df_majority_upsampled.shape

(100, 3)

In [60]:
df_majority_upsampled.head()

     feature_1  feature_2  target
70    0.468439   1.720920       0
827   1.089165  -0.464899       0
231   0.753869  -0.969798       0
588   0.588686  -0.704720       0
39    0.283627   1.012868       0

In [61]:
df_sampled = pd.concat([df_majority_upsampled, df_minority])

In [63]:
df_sampled.target.value_counts()

target
0    100
1    100
Name: count, dtype: int64