In [4]:
import sqlite3

In [5]:
# Connect to an sql database
connection = sqlite3.connect('example.db')
connection

In [6]:
cursor = connection.cursor()

In [7]:
# Create a table

cursor.execute('''
Create table If Not Exists Employees(
    id Integer Primary Key,
    name Text Not null,
    age Integer,
    department Text
    )
''')

# Commit the changes
connection.commit()

In [8]:
cursor.execute('''
Select * from Employees
''')

In [9]:
# Insert the data in sqlite table
cursor.execute('''
Insert into Employees(name,age,department)
               values('Prateek Pathak',20,'CEO/Founder')
''')

cursor.execute('''
Insert into Employees(name,age,department)
               values('Prateek',27,'Forbes 30U30')
''')

cursor.execute('''
Insert into Employees(name,age,department)
               values('Yash',20,'Data Scientist')
''')

# commit the change
connection.commit()

In [10]:
# Query the data from table
cursor.execute('Select * from Employees')
rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Prateek Pathak', 24, 'Founder&CEO')
(2, 'Prateek', 27, 'Forbes 30U30')
(3, 'Prateek Pathak', 20, 'CEO/Founder')
(4, 'Prateek', 27, 'Forbes 30U30')
(5, 'Yash', 20, 'Data Scientist')

In [11]:
# Update the data
cursor.execute('''
UPDATE employees
Set department = "Founder&CEO", age=24
where name = "Prateek Pathak"
''')

connection.commit()

In [12]:
# Query the data from table
cursor.execute('Select * from Employees')
rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Prateek Pathak', 24, 'Founder&CEO')
(2, 'Prateek', 27, 'Forbes 30U30')
(3, 'Prateek Pathak', 24, 'Founder&CEO')
(4, 'Prateek', 27, 'Forbes 30U30')
(5, 'Yash', 20, 'Data Scientist')

In [13]:
# Delete tha Data
cursor.execute('''
delete from employees
               where name = "Yash"
''')
connection.commit()

In [14]:
# Query the data from table
cursor.execute('Select * from Employees')
rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'Prateek Pathak', 24, 'Founder&CEO')
(2, 'Prateek', 27, 'Forbes 30U30')
(3, 'Prateek Pathak', 24, 'Founder&CEO')
(4, 'Prateek', 27, 'Forbes 30U30')

In [15]:
## Working with Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [16]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [17]:
# close the connection
connection.close()

In [26]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.